* {
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 1px solid black;
}

#x-compute-button {
  order: 1;
  cursor: pointer;
  margin-left: 10px;
}

#x-compute-button-img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}